# ignore all /src folders contents
**/src/*
*/src/*
**/node_modules/*
!projects/dashboard/src/index.html

# ignore mysql data folder contents
shared-services/mysql/data/*
shared-services/postgres/data/*

# ignore git related config in global-configs folder
global-configs/.git/*
global-configs/.gitconfig
global-configs/.ssh/*

# ignore shared-assets folder contents
shared-assets/*

*.sql
*.dump
*.log
*.gz
*.DS_Store
*.uuid

# ignore all node_modules folders
**/node_modules/*

# ignore all .env files
**/.env
